body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.color{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 45%;
    padding: 4%;
}
.half-width img{
    width: 70%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(201, 140, 28),rgb(216, 47, 17));
    padding: 10px 40px;
    border-radius: 10px;
    color: white;

}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 35%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 25px;
    box-shadow: 10px 10px 30px gray;
    
}
.experience-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}

#web-experience{
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-left: 7px solid;
    padding-left: 10px;
    
}
#add-experience{
    border-image: linear-gradient( cyan,tomato) 30;
    border-left: 7px solid;
    padding-left: 10px; 
}
 
footer p {
text-align: center;
}


